@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root{
    --azul-escuro: #26333D;
    --texto: #26333D;
    --branco: #FFFFFF;
    --cor-destaque: #2FD6CB;
    --fundos: #E9F0EF;
}

html {
    scroll-behavior: smooth; /* Adiciona um efeito de rolagem suave ao navegar entre seções */
}

body{
   font-family: 'Montserrat', sans-serif;
   background-color: var(--branco);
   color: var(--texto);

}

/* CABEÇALHO */

a {
    text-decoration: none;
    color: var(--branco);
}

.cabecalho {
    background-color: var(--azul-escuro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
    height: 10vh;
}
.cabecalho img {
    width: 150px;
    height: 50px;
}
.navegacao {
    display: flex;
    align-items: center;
    gap: 50px;
}

.navegacao a {
    font-size: 1em;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
}